<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/styles/darkly.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <style>
        ol {
            padding-top: 10px;padding-bottom: 10px;
        }
        code {
            color: #ccc;
        }
      </style>
  </head>
  <body>

    <div class="container animated zoomInDown">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1 class="animated flip">URL Shortener</h1>
            <p class="lead">Create shortened URL from a long URL</p>
          </div>
        </div>
      </div>

      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-6">
            <h3>Shorten long link</h3>
            <ul>
                <li>URL</li>
                    <ol>/shorten</ol>
                <li>Method</li>
                    <ol>POST</ol>
                <li>URL Params</li>
                    <ol>
                        <strong>Required:</strong><br />
                        <code>long_url=[string]</code><br />
                        <code>apikey=[string]</code>
                    </ol>
                <li>Sample Call</li>
                    <ol><code>curl --data "<strong>long_url</strong>=https://www.wikipedia.org/&<strong>apikey</strong>=123456" https://url.itunix.eu/shorten</code></ol>
                <li>Success Response</li>
                    <ol>
                        <strong>Code:</strong> 200 OK<br />
                        <strong>Content:</strong> <code>https://url.itunix.eu/12345</code>
                    </ol>
                    <ol>
                        <strong>Code:</strong> 201 CREATED<br />
                        <strong>Content:</strong> <code>https://url.itunix.eu/12345</code>
                    </ol>
                <li>Error Response</li>
                    <ol>
                        <strong>Code:</strong> 401 UNAUTHORIZED<br />
                        <strong>Content:</strong> <code>No valid api key</code>
                    </ol>
                    <ol>
                        <strong>Code:</strong> 422 UNPROCESSABLE ENTRY<br />
                        <strong>Content:</strong> <code>No valid field</code>
                    </ol>
            </ul>
          </div>
          <div class="col-lg-6">
            <h3>Get a long link</h3>
            <ul>
                <li>URL</li>
                    <ol>/[:string]</ol>
                <li>Method</li>
                    <ol>GET</ol>
    
                <li>Sample Call</li>
                    <ol><code>curl https://url.itunix.eu/12345</code></ol>
                <li>Success Response</li>
                    <ol>
                        <strong>Code:</strong> 301 MOVED PERMANENTLY<br />
                    </ol>
                <li>Error Response</li>
                    <ol>
                        <strong>Code:</strong> 422 UNPROCESSABLE ENTRY<br />
                        <strong>Content:</strong> <code>Nothing found</code>
                    </ol>
            </ul>

            <h3>Preview link</h3>
            <ul>
                <li>URL</li>
                    <ol>/[:string]/preview</ol>
                <li>Method</li>
                    <ol>GET</ol>
    
                <li>Sample Call</li>
                    <ol><code>curl https://url.itunix.eu/12345/preview</code></ol>
                <li>Success Response</li>
                    <ol>
                        <strong>Code:</strong> 200 OK<br />
                        <strong>Content:</strong> HTML Website</code>
                    </ol>
                <li>Error Response</li>
                    <ol>
                        <strong>Code:</strong> 404 NOT FOUND<br />
                    </ol>
            </ul>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <p>Download <a href="/shorten_url-fx.xpi">Firefox extension</a> | Source code: <a href="https://gitlab.itunix.eu/URLShortener/firefox-extension">firefox-extension</a></p>
            <p>Need API key? Mail to support@itunix.eu</p>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>