<!DOCTYPE html>
<html>
<head>
  <title>Preview | URL Shortener</title>
  <style>
    body {
        text-align: center;
        width: 600px;
        margin: 0 auto;
    }
    h3 {
        border: 3px dashed #ccc;
        padding: 10px;
        background-color: #f0f0f0;
    }
    .btn {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: #000;
        padding: 15px 30px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
  </style>
</head>
    <body>
        <h1>URL Preview</h1>
        <h3><code><?php echo $this->long_url; ?></code></h3>
        <p>
            <a href="<?php echo $this->long_url; ?>" class="btn">Go to URL</a>
        </p>
    </body>
</html> 